<ion-view title="Audio business" id="page15">
  <ion-content padding="true" style="background: url(img/yEhQ0XCsRYCg5BPuMbmk_Fotolia_158150245_M-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="audioBusiness-heading30" style="color:#FFFFFF;text-align:center;">Audio - BUSINESS</h3>
    <div class="list card" id="audioBusiness-card21">
      <ion-item class="item-thumbnail-left" id="audioBusiness-list-item4">
        <img src="img/zOC48VN3SSi51ImINjUO_pitch.jpg">
        <h2>Was ist ein Pitch?</h2>
        <p style="white-space:normal;">Kurzversion des Calls 15.11.2005 </p>
      </ion-item>
      <audio controls controlslist="nodownload" preload="metadata">
        <source src="http://kero-design.de/be-part-of-it/audios/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card22">
      <ion-item class="item-thumbnail-left" id="audioBusiness-list-item5">
        <img src="img/P7HaGcGT326AmjA2cqC6_leistung.jpg">
        <h2>Spitzenleister</h2>
        <p style="white-space:normal;">Call vom 07.02.2011 </p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="metadata">
        <source src="&#10; https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2011_02_07_Spitzenleister.mp3?alt=media&amp;token=1e3b8463-f47b-411c-acaa-9544eb58e191" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card23">
      <ion-item class="item-thumbnail-left" id="audioBusiness-list-item6">
        <img src="img/PV1Mf6oQTx6GjwRkrKPP_Empfehlen.jpg">
        <h2>Call am 30.08.2011</h2>
        <p style="white-space:normal;">Mit Gabi, Micha, Inka und Steffi</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="metadata">
        <source src="&#10; https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2011_08_30_Gabi_Micha_Inka_Steffi.mp3?alt=media&amp;token=28978a06-a6fc-4071-8a51-fd74d8f03591" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
  </ion-content>
</ion-view>