<ion-view title="Audio health" id="page16">
  <ion-content padding="true" style="background: url(img/yEhQ0XCsRYCg5BPuMbmk_Fotolia_158150245_M-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="audioHealth-heading31" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Audio - HEALTH</h3>
    <div class="list card" id="audioHealth-card24">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item9">
        <img src="img/gbRC37BhTVS1igURTiQ7_240_F_84771002_1vl0jDHDMB0zRUcgfYgvHLaC4eHdQ84H.jpg">
        <h2>Inhaltsstoffe </h2>
        <p>von Dr. Frank Oberle</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="http://kero-design.de/be-part-of-it/audios/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card218">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item22">
        <img src="img/QNaHC1kfSFOvvOEYJROO_2.jpg">
        <h2>Zahnärzte</h2>
        <p> über Lifeplus</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card212">
      <div class="list card" id="audioHealth-card214">
        <ion-item class="item-thumbnail-left" id="audioHealth-list-item18">
          <img src="img/QYcuqP8RTEezDHYLZg4p_240_F_216987966_BeX2H7BP2PmWOdkepBy5yDszBojkixEj.jpg">
          <h2>Feedback Gesundheit</h2>
          <p>DISCOVERY ! HÖREN!!!!! </p>
        </ion-item>
        <audio controls="" controlslist="nodownload" preload="none">
          <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div class="list card" id="audioHealth-card26">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item10">
        <img src="img/J0xA04ZYSH6t8RFQXxrF_240_F_130635244_bAKTab1uMo23hSYKjBYDCp9OowbVdQF5.jpg">
        <h2>Omega 3 </h2>
        <p>OME GOLD</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card27">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item11">
        <img src="img/0V4wG7WKQeer891aV5UP_240_F_80652451_giHb9fLAhSFFjbXgZPCnI2G7YcoF79de.jpg">
        <h2>OPC</h2>
        <p>Proanthenols100</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card28">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item12">
        <img src="img/dmFWsXsoRa6wpmvAmYeH_images.jpeg">
        <h2>Somazyme &amp; Produkte</h2>
        <p>Dr. Oberle</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card29">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item13">
        <img src="img/IU5YtRasRimDBN4H1Y5m_Unknown-1.jpeg">
        <h2>After Cancer Care</h2>
        <p>Stimmen</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card210">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item14">
        <img src="img/2OPQrFJQxG4e7D9Yq8W7_Unknown-3.jpeg">
        <h2>After Cancer Care</h2>
        <p>Interview</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card211">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item15">
        <img src="img/yUYMZU8RRdSmyLC1CNEU_240_F_130635244_bAKTab1uMo23hSYKjBYDCp9OowbVdQF5.jpg">
        <h2>Fit mit Fett</h2>
        <p>Andreas Jopp</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card213">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item17">
        <img src="img/ViTRsu9NTRi5nCxcAXRg_240_F_212104629_a9GBYFpgG2oM5SxEhUCHFYPKj191OBro-1.jpg">
        <h2>BE Serie</h2>
        <p>Feedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card215">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item19">
        <img src="img/eQErmwFPSWOB4H6Gt3rK_240_F_164801696_Iq9kAMQbgsRl7BASIvvrzKj1lMi93STB.jpg">
        <h2>BE Serie</h2>
        <p>Anja zur neuen be Serie</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card216">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item20">
        <img src="img/scd0PuAdT4lzeFFr1mCn_240_F_119136833_XXhh0mhBuV3IIQ3rFzeKMwcsJAo2k6E8.jpg">
        <h2>Sportlerprodukte</h2>
        <p>be Serie</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card217">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item21">
        <img src="img/RYI2RvZSR0OWeBoYrWF7_240_F_216575615_zARUXvAi5lQndJMp4hLfCqiLvHDH87bx.jpg">
        <h2>Be Serie</h2>
        <p>Heilpraktikerin zur be Serie</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card219">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item16">
        <img src="img/CvSukBIR2CtSWRyLlpA1_1.jpg">
        <h2>Daily</h2>
        <p>Bersonderheiten vom Daily</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card220">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item23">
        <img src="img/zxOjxqsTk29QHnAt5Qcj_240_F_142221884_xTCDAZQDsJD0eg4mCQKS0kJ5AuoRsGxf.jpg">
        <h2>Discovery</h2>
        <p>Feedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card221">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item24">
        <img src="img/xEwuVf36TSedhh7F9zzR_240_F_216027175_hKfWBFAzRURW21o4ZLDONRNXDfynplaN.jpg">
        <h2>Dr. Pinther</h2>
        <p>Erfahrungsbericht</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card222">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item25">
        <img src="img/xNoMSqLsTquyz83kwGWA_Unknown-4.jpeg">
        <h2>Dr. Dwight</h2>
        <p>Radio Show (Englisch)</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card223">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item26">
        <img src="img/lNTdv5O0Rsyec5EzNx4d_240_F_216626694_4kYkSEnfW8L5mmlNNYGxkUNHLUdWaxxV.jpg">
        <h2>Gabi Steiner </h2>
        <p>Heilpraktikerin zur be Serie</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card224">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item27">
        <img src="img/DgPRq2EJSROEzzYs8gB3_240_F_216221914_f5lkh97B7g7RtFvpvFPJ7YFfgtqfGGSl.jpg">
        <h2>Hintergrundwissen</h2>
        <p>zur Stoffwechselkur</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card225">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item28">
        <img src="img/eEe93v4DQl6QJqUARILX_240_F_100441561_4bKIFoWl6BGbWFbQyKxRFFzr87beP9rK.jpg">
        <h2>Vitalstoffe</h2>
        <p>Andreas Jopp</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card226">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item29">
        <img src="img/hsLTsFeBRuGlh3Rf4b7H_240_F_217210268_LI8E0HxbEVoVLbIRw1XJWked3vKWqXR2.jpg">
        <h2>Kosmetik</h2>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card227">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item30">
        <img src="img/cUGZkzAURmHCTYq9yctv_240_F_85734278_dhy7FNvHrliJjBRxaCvKrMX2vyXOTp2w.jpg">
        <h2>Niere</h2>
        <p>Produktfeedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card228">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item31">
        <img src="img/yjsbmePTCWhvTQVfAjGR_240_F_216987966_BeX2H7BP2PmWOdkepBy5yDszBojkixEj.jpg">
        <h2>Thema Rheuma</h2>
        <p>Produktfeedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card229">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item32">
        <img src="img/vKyUiWPsQHmoEndZKFHM_240_F_217731239_TkPkBBN63fTGjGilrfL6SkR6R1BWmdP6.jpg">
        <h2>Schönheit</h2>
        <p>von innen</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card230">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item33">
        <img src="img/li4BXiq3TOqyaTTH7KYa_240_F_190903916_9jCRSrQUOxZp19MajY74GGAygEtMUW2U.jpg">
        <h2>Schwangerschaft</h2>
        <p>und Kinder</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card231">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item34">
        <img src="img/4Ost7UWvRJK0nH400e29_240_F_217142108_WkFT5Gv75PtbfuLqbbqQdwxM5BxywCgJ.jpg">
        <h2>Sportlercall</h2>
        <p>Produktfeedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card232">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item35">
        <img src="img/p3czHcGdRUecIQKrPqXW_240_F_216195366_vdTY8Hhr45FPi6wOgsBiME9TbU6P1aqm.jpg">
        <h2>Stoffwechsel &amp; Vitalstoffe</h2>
        <p>Andreas Jopp</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card233">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item36">
        <img src="img/BkiQwqzfQKyg83ukxfMK_240_F_105609160_5x9QmbLvtOF2gpMamj7CPncGv0Ciomsk.jpg">
        <h2>Discovery</h2>
        <p>Produktfeedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card234">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item37">
        <img src="img/UNOIQm4EQhCgSMG7GGIC_240_F_216076749_ulvR2RnADmCGNOIImjK1A77oSBxRun4f.jpg">
        <h2>Tiere</h2>
        <p>Produktfeedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card235">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item38">
        <img src="img/1ey0sYEUTVOgzxFgxQyH_240_F_217064485_GO4MXLrc3BPiOAC8LUTkhVcdcxYJxl83.jpg">
        <h2>Tiere </h2>
        <p>Feedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card236">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item39">
        <img src="img/MG9wwQRQKSxnPgyVKIlL_240_F_119052345_VsPLRhiUukyE1lJZIutppnj9BX2eY2su.jpg">
        <h2>Interview</h2>
        <p>Unger - Vögeli</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card237">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item40">
        <img src="img/JNpdOFGWSGOL1LKsVc6Z_240_F_134698408_8RH2lyoNwUSZhq7YPPopWvIzGyC96j24.jpg">
        <h2>Vitalstoffe</h2>
        <p>DIE Gesundheitsrevolution</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card238">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item41">
        <img src="img/KzCjnSSxRE60ku2t5jsd_1.jpg">
        <h2>Vitalstoffe</h2>
        <p>Phytozyme Basis</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card239">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item42">
        <img src="img/9a8pxdrITnOv6ayomvp9_240_F_197318463_QzOasyS5IS4KbrgWMvFAYmkiMdIAJaIZ.jpg">
        <h2>x-Cell</h2>
        <p>Feedback</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card240">
      <ion-item class="item-thumbnail-left" id="audioHealth-list-item43">
        <img src="img/QujQbZaQHePmRaWrAQog_240_F_214078959_YQ7NqBx7Z2hxadgX3dBOG6vfjmhhvFbJ.jpg">
        <h2>Young Generation</h2>
        <p>Gesundheit &amp; Business</p>
      </ion-item>
      <audio controls="" controlslist="nodownload" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
  </ion-content>
</ion-view>