<ion-view title="Audio" id="page3">
  <ion-content padding="true" style="background: url(img/yEhQ0XCsRYCg5BPuMbmk_Fotolia_158150245_M-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.audioBusiness()">
        <img src="img/3N9ccGlXTqC0AYupJRVj_b1-business1.png" style="display:block;width:34%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.audioHealth()">
        <img src="img/d735t67SsyzcSzwTfhH4_b1-health.png" style="display:block;width:33%;height:auto;">
      </a>
    </div>
  </ion-content>
</ion-view>