<ion-view title="Audio" id="page3">
  <ion-content padding="true" style="background: url(img/QaP0IcrhR3OBC7Z49uHl_240_F_112468033_iO8qZ76Tix30YxamtBMtuElKAMnMhjiG.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <h1 id="audio-heading57" style="color:#000000;">AUDIO</h1>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.audioBusiness()">
        <img src="img/4hH8wgukSTCJo1aai4js_IMG_1045.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.audioHealth()">
        <img src="img/Cz8vav5uQua9m1QClDlI_IMG_1046.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
  </ion-content>
</ion-view>