<ion-view title="Audio health" id="page16">
  <ion-content padding="true" style="background: url(img/yEhQ0XCsRYCg5BPuMbmk_Fotolia_158150245_M-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="audioHealth-heading31" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Audio - HEALTH</h3>
    <div class="list card" id="audioHealth-card24">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(1)" id="audioHealth-list-item9">
        <img src="img/gbRC37BhTVS1igURTiQ7_240_F_84771002_1vl0jDHDMB0zRUcgfYgvHLaC4eHdQ84H.jpg">
        <h2>Inhaltsstoffe </h2>
        <p>von Dr. Frank Oberle</p>
      <i class="icon ion-ios-play" id="playbutton1"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio1" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/1%20Infos%20zu%20Inhaltsstoffen%20(Oberarzt%20oberle.mp3?alt=media&amp;token=cac7988a-a102-4d9d-8eed-99dc1e563283" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card218">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(2)" id="audioHealth-list-item22">
        <img src="img/QNaHC1kfSFOvvOEYJROO_2.jpg">
        <h2>Zahnärzte</h2>
        <p> über Lifeplus</p>
      <i class="icon ion-ios-play" id="playbutton2"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio2" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2%20Zahnaerzte.mp3?alt=media&amp;token=85939203-3312-4451-b987-240edc2d4615" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card212">
      <div class="list card" id="audioHealth-card214">
        <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(3)" id="audioHealth-list-item18">
          <img src="img/QYcuqP8RTEezDHYLZg4p_240_F_216987966_BeX2H7BP2PmWOdkepBy5yDszBojkixEj.jpg">
          <h2>Feedback Gesundheit</h2>
          <p>DISCOVERY ! HÖREN!!!!! </p>
        <i class="icon ion-ios-play" id="playbutton3"></i></ion-item>
        <audio controls controlsList="nodownload" id="audio3" preload="none">
          <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Sybille%20G%C3%B6ring%20Ergebnisse%20Discovery%20bei%20Alzheimer%202.mp3?alt=media&amp;token=a663da80-ec0a-48ad-8ce3-c5dabd380b7a" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div class="list card" id="audioHealth-card26">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(4)" id="audioHealth-list-item10">
        <img src="img/J0xA04ZYSH6t8RFQXxrF_240_F_130635244_bAKTab1uMo23hSYKjBYDCp9OowbVdQF5.jpg">
        <h2>Omega 3 </h2>
        <p>OME GOLD</p>
      <i class="icon ion-ios-play" id="playbutton4"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio4" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/OME.mp3?alt=media&amp;token=09ad124c-eb1b-49ec-b09c-0871fcbac6e2" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card27">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(5)" id="audioHealth-list-item11">
        <img src="img/0V4wG7WKQeer891aV5UP_240_F_80652451_giHb9fLAhSFFjbXgZPCnI2G7YcoF79de.jpg">
        <h2>OPC</h2>
        <p>Proanthenols100</p>
      <i class="icon ion-ios-play" id="playbutton5"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio5" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2013-09-17_Dienstagscall_OPC_5_Punkte.mp3?alt=media&amp;token=c7e6fe2f-c79b-4416-ae5f-5257ca10b549" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card28">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(6)" id="audioHealth-list-item12">
        <img src="img/dmFWsXsoRa6wpmvAmYeH_images.jpeg">
        <h2>Somazyme &amp; Produkte</h2>
        <p>Dr. Oberle</p>
      <i class="icon ion-ios-play" id="playbutton6"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio6" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Somazyme.mp3?alt=media&amp;token=5836836a-1a3d-4744-ab11-3fb0f6b46e82" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card29">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(7)" id="audioHealth-list-item13">
        <img src="img/IU5YtRasRimDBN4H1Y5m_Unknown-1.jpeg">
        <h2>After Cancer Care</h2>
        <p>Stimmen</p>
      <i class="icon ion-ios-play" id="playbutton7"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio7" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2016-05-31_Di_BC_Call_After_Cancer_Care_Interview_Dauenhauer_Petras.mp3?alt=media&amp;token=bbb6112f-d57c-468a-9baa-d7c54556f582" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card215">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(8)" id="audioHealth-list-item19">
        <img src="img/eQErmwFPSWOB4H6Gt3rK_240_F_164801696_Iq9kAMQbgsRl7BASIvvrzKj1lMi93STB.jpg">
        <h2>BE Serie</h2>
        <p>Anja zur neuen be Serie</p>
      <i class="icon ion-ios-play" id="playbutton8"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio8" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Be_Erfahrungen_Wildhagen_und_KollegInnen.mp3?alt=media&amp;token=85eda2d0-d9cd-4bf8-ba7e-5cc9b3dcacd5" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card216">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(9)" id="audioHealth-list-item20">
        <img src="img/scd0PuAdT4lzeFFr1mCn_240_F_119136833_XXhh0mhBuV3IIQ3rFzeKMwcsJAo2k6E8.jpg">
        <h2>Sportlerprodukte</h2>
        <p>be Serie</p>
      <i class="icon ion-ios-play" id="playbutton9"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio9" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017_04_04_Sportlercall_Koppe.mp3?alt=media&amp;token=75f457b3-e5fd-4f5f-9ae1-f221f16e9535" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card217">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(10)" id="audioHealth-list-item21">
        <img src="img/RYI2RvZSR0OWeBoYrWF7_240_F_216575615_zARUXvAi5lQndJMp4hLfCqiLvHDH87bx.jpg">
        <h2>Be Serie</h2>
        <p>Heilpraktikerin zur be Serie</p>
      <i class="icon ion-ios-play" id="playbutton10"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio10" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Be-Serie%2C%20(Sandy%20Scholz%20-%20Physio%20%26%20Heilpraktikerin).mp3?alt=media&amp;token=a8c7da52-50f1-4f88-8a76-9c4594157a93" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card219">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(11)" id="audioHealth-list-item16">
        <img src="img/CvSukBIR2CtSWRyLlpA1_1.jpg">
        <h2>Daily</h2>
        <p>Bersonderheiten vom Daily</p>
      <i class="icon ion-ios-play" id="playbutton11"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio11" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Daily%20Besonderheiten%2C%20Andreas%20Jopp.mp3?alt=media&amp;token=7a7576e3-533c-48a1-8b3e-f2991894aa10" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card220">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(12)" id="audioHealth-list-item23">
        <img src="img/zxOjxqsTk29QHnAt5Qcj_240_F_142221884_xTCDAZQDsJD0eg4mCQKS0kJ5AuoRsGxf.jpg">
        <h2>Discovery</h2>
        <p>Feedback</p>
      <i class="icon ion-ios-play" id="playbutton12"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio12" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2012_11_12_Discovery.mp3?alt=media&amp;token=74b557a8-8ac2-46fb-a43f-35cb23a4ca68" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card221">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(13)" id="audioHealth-list-item24">
        <img src="img/xEwuVf36TSedhh7F9zzR_240_F_216027175_hKfWBFAzRURW21o4ZLDONRNXDfynplaN.jpg">
        <h2>Dr. Pinther</h2>
        <p>Erfahrungsbericht</p>
      <i class="icon ion-ios-play" id="playbutton13"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio13" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Dr%20pinther%20-%20erfahrungen.mp3?alt=media&amp;token=b504fd76-7ffc-4ad5-b8f8-38ea7e2f699b" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card224">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(14)" id="audioHealth-list-item27">
        <img src="img/DgPRq2EJSROEzzYs8gB3_240_F_216221914_f5lkh97B7g7RtFvpvFPJ7YFfgtqfGGSl.jpg">
        <h2>Hintergrundwissen</h2>
        <p>zur Stoffwechselkur</p>
      <i class="icon ion-ios-play" id="playbutton14"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio14" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-02-22_Mi._Call_Hintergrundwissen_zur_SWK.mp3?alt=media&amp;token=d9cdf934-f375-4bcb-9bd1-b2d8a202ccef" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card225">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(15)" id="audioHealth-list-item28">
        <img src="img/eEe93v4DQl6QJqUARILX_240_F_100441561_4bKIFoWl6BGbWFbQyKxRFFzr87beP9rK.jpg">
        <h2>Vitalstoffe</h2>
        <p>Andreas Jopp</p>
      <i class="icon ion-ios-play" id="playbutton15"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio15" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-02-15_Mi_Call_Interview_A.Jopp_Vitalstoffe_SWK1.mp3?alt=media&amp;token=20a85190-08a8-42d8-88ea-d26904166f51" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card226">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(16)" id="audioHealth-list-item29">
        <img src="img/hsLTsFeBRuGlh3Rf4b7H_240_F_217210268_LI8E0HxbEVoVLbIRw1XJWked3vKWqXR2.jpg">
        <h2>Kosmetik</h2>
      <i class="icon ion-ios-play" id="playbutton16"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio16" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Kosmetik.mp3?alt=media&amp;token=5c94a486-34a1-4407-b819-77a99586d8e8" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card228">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(17)" id="audioHealth-list-item31">
        <img src="img/yjsbmePTCWhvTQVfAjGR_240_F_216987966_BeX2H7BP2PmWOdkepBy5yDszBojkixEj.jpg">
        <h2>Thema Rheuma</h2>
        <p>Produktfeedback</p>
      <i class="icon ion-ios-play" id="playbutton17"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio17" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Rheumatischer%20Formenkreis.mp3?alt=media&amp;token=c40a1c21-82a4-4fd7-be35-99f385af1137" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card229">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(18)" id="audioHealth-list-item32">
        <img src="img/vKyUiWPsQHmoEndZKFHM_240_F_217731239_TkPkBBN63fTGjGilrfL6SkR6R1BWmdP6.jpg">
        <h2>Schönheit</h2>
        <p>von innen</p>
      <i class="icon ion-ios-play" id="playbutton18"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio18" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Scho%CC%88nheit_von_Innen_Beate_Reichert_Cut.mp3?alt=media&amp;token=b8f0beb4-a41a-4d31-8ad5-79e66ad02c96" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card230">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(19)" id="audioHealth-list-item33">
        <img src="img/li4BXiq3TOqyaTTH7KYa_240_F_190903916_9jCRSrQUOxZp19MajY74GGAygEtMUW2U.jpg">
        <h2>Schwangerschaft</h2>
        <p>und Kinder</p>
      <i class="icon ion-ios-play" id="playbutton19"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio19" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2016-03-02_Mi_Call_Produkterfahrung_Schwangerschaft_Kindern_Ilona_Beitel.mp3?alt=media&amp;token=a4b161ab-270d-4740-98ca-b650d7167139" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card231">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(20)" id="audioHealth-list-item34">
        <img src="img/4Ost7UWvRJK0nH400e29_240_F_217142108_WkFT5Gv75PtbfuLqbbqQdwxM5BxywCgJ.jpg">
        <h2>Sportlercall</h2>
        <p>Produktfeedback</p>
      <i class="icon ion-ios-play" id="playbutton20"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio20" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017_04_04_Sportlercall_Koppe.mp3?alt=media&amp;token=75f457b3-e5fd-4f5f-9ae1-f221f16e9535" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card234">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(21)" id="audioHealth-list-item37">
        <img src="img/UNOIQm4EQhCgSMG7GGIC_240_F_216076749_ulvR2RnADmCGNOIImjK1A77oSBxRun4f.jpg">
        <h2>Tiere</h2>
        <p>Produktfeedback</p>
      <i class="icon ion-ios-play" id="playbutton21"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio21" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Tiere%20dr%20.mp3?alt=media&amp;token=09f38079-4589-4096-8a38-4715783d21b4" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card235">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(22)" id="audioHealth-list-item38">
        <img src="img/1ey0sYEUTVOgzxFgxQyH_240_F_217064485_GO4MXLrc3BPiOAC8LUTkhVcdcxYJxl83.jpg">
        <h2>Tiere </h2>
        <p>Feedback</p>
      <i class="icon ion-ios-play" id="playbutton22"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio22" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Tiere%20Produkterfahrungen%20Tiere%20(Denise%20Brunner.mp3?alt=media&amp;token=ea7c2a3d-a7ca-4512-b489-f7542ad31d5d" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card236">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(23)" id="audioHealth-list-item39">
        <img src="img/MG9wwQRQKSxnPgyVKIlL_240_F_119052345_VsPLRhiUukyE1lJZIutppnj9BX2eY2su.jpg">
        <h2>Interview</h2>
        <p>Unger - Vögeli</p>
      <i class="icon ion-ios-play" id="playbutton23"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio23" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-04-16_Unger_Voegeli.mp3?alt=media&amp;token=c9ef0f65-12dd-4717-8075-5c679b0c12e5" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card237">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(24)" id="audioHealth-list-item40">
        <img src="img/JNpdOFGWSGOL1LKsVc6Z_240_F_134698408_8RH2lyoNwUSZhq7YPPopWvIzGyC96j24.jpg">
        <h2>Vitalstoffe</h2>
        <p>DIE Gesundheitsrevolution</p>
      <i class="icon ion-ios-play" id="playbutton24"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio24" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card238">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(25)" id="audioHealth-list-item41">
        <img src="img/KzCjnSSxRE60ku2t5jsd_1.jpg">
        <h2>Vitalstoffe</h2>
        <p>Phytozyme Basis</p>
      <i class="icon ion-ios-play" id="playbutton25"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio25" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Vitalstoffe%20Phytozyme%20Basis)%2C%20Herstellungsverfahren%2C%20Grundversorgung.mp3?alt=media&amp;token=d92097b1-993b-4d24-acef-b61e2463220e" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card239">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(26)" id="audioHealth-list-item42">
        <img src="img/9a8pxdrITnOv6ayomvp9_240_F_197318463_QzOasyS5IS4KbrgWMvFAYmkiMdIAJaIZ.jpg">
        <h2>x-Cell</h2>
        <p>Feedback</p>
      <i class="icon ion-ios-play" id="playbutton26"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio26" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/X-Cell%20Feedback.aac?alt=media&amp;token=4c250912-6752-488f-9e7c-e35e44e86dd7" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioHealth-card240">
      <ion-item class="item-thumbnail-left item-icon-right" onclick="togglePlay(27)" id="audioHealth-list-item43">
        <img src="img/QujQbZaQHePmRaWrAQog_240_F_214078959_YQ7NqBx7Z2hxadgX3dBOG6vfjmhhvFbJ.jpg">
        <h2>Young Generation</h2>
        <p>Gesundheit &amp; Business</p>
      <i class="icon ion-ios-play" id="playbutton27"></i></ion-item>
      <audio controls controlsList="nodownload" id="audio27" preload="none">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-04-26_-Erfolgsgeschichten_-aus_der_Young_-Generation_zu_-Gesundheit_und_Business.mp3?alt=media&amp;token=1df9331c-dc0e-4fe5-b138-6b8604a70229" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
  </ion-content>
</ion-view>