<ion-view title="Audio business" id="page15">
  <ion-content padding="true" style="background: url(img/yEhQ0XCsRYCg5BPuMbmk_Fotolia_158150245_M-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="audioBusiness-heading30" style="color:#FFFFFF;text-align:center;">Audio - BUSINESS</h3>
    <div class="list card" id="audioBusiness-card21">
      <ion-item onclick="togglePlay(1)" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item4">
        <img src="img/FxhBdudlRoqd7rj718fc_240_F_216682934_5eUXMlwoWX6NbokUq75QKKattt3w8DF3.jpg">
        <h2>Startertipps von Micha </h2>
        <p style="white-space:normal;">Teil 1</p>
      <i id="playbutton1" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio1">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/1%20Anfa%CC%88ngertipps%20micha%201.m4a?alt=media&amp;token=b96ff7f0-3f47-4735-a29d-8d74bab3596d" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card241">
      <ion-item onclick="togglePlay(2)" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item44">
        <img src="img/6SwoB3KETI6Br5Dr3Pr2_240_F_216682934_5eUXMlwoWX6NbokUq75QKKattt3w8DF3.jpg">
        <h2>Startertipps von Micha </h2>
        <p style="white-space:normal;">Teil 2</p>
      <i id="playbutton2" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio2">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2%20ANfa%CC%88ngertipps%20micha%20teil%202.m4a?alt=media&amp;token=65440ad9-fac7-4864-9035-9455b07ac71f" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card243">
      <ion-item onclick="togglePlay(3)" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item46">
        <img src="img/b7JVhxiRTyKs1AJGmLm8_240_F_210408993_YPCvkL9R699hlcmvjNnPbGf5T12fXeCv.jpg">
        <h2>5 Punkte Training</h2>
        <p style="white-space:normal;">Tipps</p>
      <i id="playbutton3" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio3">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2012_08_23_Callgruppe_1_Call_5_Marketing.mp3?alt=media&amp;token=9950baa2-9bd6-4976-86ca-b992c7577941" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card245">
      <ion-item onclick="togglePlay(4)" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item49">
        <img src="img/k1naRC4aRJeKD8vlaJyA_240_F_181392286_ZwOMJpXIMXAMbdgELlsijvxHfXX4AZ6Z.jpg">
        <h2>Unternehmertalk</h2>
        <p style="white-space:normal;">wertvolle Infos</p>
      <i id="playbutton4" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio4">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2018-07-31%2C%20Unternehmertalk%20-%20Feedbacks%20von%20Diamanten%20mit%20eigenen%20Unternehmen.mp3?alt=media&amp;token=4210a945-592e-41e4-ac25-9680bf36af98" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card244">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item47">
        <img src="img/AczkbKNIRcGJjugMGAM3_240_F_208101695_BRv5ZinxtgNhQUiqFaGAaHENF7DEcCKe.jpg">
        <h2>Aktion 32</h2>
        <p style="white-space:normal;">zum Geschäft</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2016-10-25_Di_BC_Gabi_Aktion32_Waessern_Pitche.mp3?alt=media&amp;token=6af73c65-78ee-4268-99d4-0626b28bcd6c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card246">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item50">
        <img src="img/MFRHKcyQYhlAdnXDP95A_240_F_124354429_WxW47z7EYAhKK1mShwG5WGJhHrOLWqkt.jpg">
        <h2>Von Produkten</h2>
        <p style="white-space:normal;">zum Geschäft</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-04-10%2C%20U%CC%88ber%20Gesundheits-%20u.%20Produktbegeisterung%20hin%20zum%20Gescha%CC%88ftsaufbau%2C%20Steiner%20%26%20Beatrice%20Ammann%20(Heilpraktikerin).mp3?alt=media&amp;token=d6474da2-764f-4151-bb32-ca840d2b72c4"
          type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card247">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item48">
        <h2>Aktion 32</h2>
        <p style="white-space:normal;">wässern</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2015-06-03_Aktion32_Waessern_Gabi_Lisa_Gisela.mp3?alt=media&amp;token=ea90513a-8695-4752-afe9-59a56245f474" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card248">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item51">
        <h2>Aktivität = Erfolg</h2>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Aktivita%CC%88t%20%3D%20erfolg.mp3?alt=media&amp;token=95949910-c5f5-48e4-bbf0-29bf3ec3d3ad"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card249">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item52">
        <h2>Anfänger-TIPPS</h2>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/Anfa%CC%88nger%20tipps%20Teil_2_Geschichte_Tipps.mp3?alt=media&amp;token=3dd1acdf-0f15-4e6c-9563-2adb4ced9323" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card250">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item53">
        <h2>Businesscall</h2>
        <p style="white-space:normal;">Teamcall mit Gabi Steiner</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-03-07_Di_Businesscall_Teamcall_mit_Uta_West_und_Gabi_Steiner.mp3?alt=media&amp;token=704befc6-8441-48fd-abd3-f2ebda465470" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card251">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item54">
        <h2>Vergütungsplan</h2>
        <p style="white-space:normal;">Bonus, Marketing</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2012_08_23_Callgruppe_1_Call_5_Marketing.mp3?alt=media&amp;token=9950baa2-9bd6-4976-86ca-b992c7577941" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card252">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item55">
        <h2>Charity Call</h2>
        <p style="white-space:normal;">von 10 auf 17.ooo IP's</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-04-18_Di._Call_Von_10_auf_17000_IP%C2%B4s_-mit_einem_-Charity_Projekt.mp3?alt=media&amp;token=1a7c17a1-96ad-4cec-9b4a-5390c8b6581f" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card253">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item56">
        <h2>Cruise</h2>
        <p style="white-space:normal;">Feedback von der Cruise</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2017-03-22_Mi_call_Feedback_Cruise.mp3?alt=media&amp;token=4ea891dc-c17d-4fb4-a0d1-c33933481534" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card254">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item57">
        <h2>Erfolgreiches</h2>
        <p style="white-space:normal;">Zuhören</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card255">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item58">
        <h2>Vom Fragen </h2>
        <p style="white-space:normal;">zum Angebot</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card256">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item59">
        <h2>Gabi Steiner - Pith</h2>
        <p style="white-space:normal;">Interview von Pauly</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="http://kero-design.de/be-part-of-it/audios/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card257">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item60">
        <h2>Gabi's LIVE Training</h2>
        <p style="white-space:normal;">2004</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card258">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item61">
        <h2>Gesprächsführung</h2>
        <p style="white-space:normal;">mit Gabi und Micha</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card259">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item62">
        <h2>Magische </h2>
        <p style="white-space:normal;">Entscheidungen</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card260">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item63">
        <h2>Micha</h2>
        <p style="white-space:normal;">im Interview</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card261">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item64">
        <h2>Persönlichkeits-</h2>
        <p style="white-space:normal;">entwicklung</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card262">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item65">
        <h2>Rente</h2>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card22">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item5">
        <img src="img/P7HaGcGT326AmjA2cqC6_leistung.jpg">
        <h2>Spitzenleister</h2>
        <p style="white-space:normal;">Call vom 07.02.2011 </p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="&#10; https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2011_02_07_Spitzenleister.mp3?alt=media&amp;token=1e3b8463-f47b-411c-acaa-9544eb58e191" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card264">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item67">
        <img src="img/Z5GocC1iSgCNPPth37Z5_240_F_173646285_50zpZnnsBoXBtj449U7UsCBQ73x6Cr17.jpg">
        <h2>Stellschrauben</h2>
        <p style="white-space:normal;">KLOSE &amp; GRUPE !!!!!!!!!!</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card265">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item68">
        <h2>Überblick </h2>
        <p style="white-space:normal;">zum Pilotprojekt</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card266">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item69">
        <h2>Verantwortung</h2>
        <p style="white-space:normal;">im Wachstum</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card267">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item70">
        <h2>Wachsen</h2>
        <p style="white-space:normal;">Buchtipp Schulmedizin</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card242">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item45">
        <img src="img/zOC48VN3SSi51ImINjUO_pitch.jpg">
        <h2>Was ist ein Pitch?</h2>
        <p style="white-space:normal;">Kurzversion des Calls 15.11.2005 </p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2005_11_15_Call_KURZ_Was_ist_ein_Pitch.mp3?alt=media&amp;token=dc71079a-e64d-4897-a55b-2e1bddbd840c" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
    <div class="list card" id="audioBusiness-card23">
      <ion-item onclick="togglePlay()" class="item-thumbnail-left item-icon-right" id="audioBusiness-list-item6">
        <img src="img/PV1Mf6oQTx6GjwRkrKPP_Empfehlen.jpg">
        <h2>Call am 30.08.2011</h2>
        <p style="white-space:normal;">Mit Gabi, Micha, Inka und Steffi</p>
      <i id="playbutton" class="icon ion-ios-play"></i>
</ion-item>
      <audio controls controlsList="nodownload" preload="none" id="audio">
        <source src="&#10; https://firebasestorage.googleapis.com/v0/b/login-test-a46ec.appspot.com/o/2011_08_30_Gabi_Micha_Inka_Steffi.mp3?alt=media&amp;token=28978a06-a6fc-4071-8a51-fd74d8f03591" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
  </ion-content>
</ion-view>