<ion-view title="be beauty" id="page19">
  <ion-content padding="true" style="background: url(img/kyyRPsawTniCH9kqBRV9_beauty1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 134px;"></div>
    <div ng-init="videourl_video134=&quot;https://player.vimeo.com/video/285056665?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="beBeauty-video134">
      <iframe src="{{videourl_video134}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <button id="beBeauty-button22" style="border-radius:0px 0px 0px 0px;" class="button button-royal icon-left ion-ios-cloud-download-outline">HANDOUT ZU BE BEATUY</button>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div ng-init="videourl_video135=&quot;https://player.vimeo.com/video/282658161?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="beBeauty-video135">
      <iframe src="{{videourl_video135}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>