<ion-view title="be business" id="page20" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/5rLpQy0kTGa88OmhmURd_bn1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <div>
      <img src="img/cXORIWyRWigX7Esx7tD9_bn1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/3xYjUHqmTRWwKEuYoYBk_e1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <div>
      <img src="img/p5xI79SZyOcq9DZ8J4Qp_e2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <div>
      <img src="img/jPGuDezJTbqcRXV58ZG6_e3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>