<ion-view title="Einladungen" id="page5">
  <ion-content padding="true" style="background: url(img/CZJYOhlhRAiQcgg6OHw2_Fotolia_138835748_M-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.termine()">
        <img src="img/Cy76bz8sQTaPEdFZrq1s_upcomingevents.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a href="“whatsapp://send?text=Text" durch="" native="" deeplink!“="">Send</a>
    <h4 id="einladungen-heading22" style="color:#FFFFFF;font-style:italic;">Einladung verschicken</h4>
    <div>
      <img src="img/hmBSvQ82RI2Fp9Cd4b7x_einladung.png" style="display:block;width:20%;height:auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <img src="img/6Q0GfmYTSlSo5VTPzczN_02.png" style="display:block;width:20%;height:auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <img src="img/JAjusi0Q2mUfkkbGzHd6_01.png" style="display:block;width:20%;height:auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
  </ion-content>
</ion-view>