<ion-view title="Gabi Steiner" id="page23" style="background-color:#CEBC95;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qjw2TG58TamzIvOndNkh_gabi-steiner-slide-2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="gabiSteiner-heading33" style="color:#000000;">Tipps von Gabi Steiner</h4>
    <p>

      1. Kataloginfo
      <a href-inappbrowser="https://vimeo.com/149398121/aaabf6517d">(Video sehen)</a>
      <br>
      <br> 2. Bestellvorgang
      <a href-inappbrowser="https://vimeo.com/149398122/683660f929">(Video sehen)</a>
      per ASAP oder Website erklären – Dauerauftrag mit Preisvorteil Jederzeit veränder- oder kündbar! 30 Tage Geld-zurück Garantie.
      <br>
      <br> 3.Je nach Fall auch bei Kunden die Möglichkeit der Refinanzierung der Produkte ansprechen.
      <a href-inappbrowser="https://vimeo.com/158328723/c45ff750d1">(Video sehen)</a> Dann evtl. Druckvorlagen und LP-Website / THP besprechen.
      <br>
      <br> 4. Termine für Basis-Workshop geben
      <br>
      <br>
      <b>Businesspartner</b>
      <br>
      <br> 5. In England PIN erfragen. Profil anlegen und persönliches LP Webkonto sowie personalisierte Webseite einrichten Video Webkonto
      <a href-inappbrowser="https://vimeo.com/187940149/6909fb8480">(Video sehen)</a>
      Video Webseite
      <a href-inappbrowser="https://vimeo.com/187940582/9533cf2593">(Video sehen)</a> unter www.lifeplus.com – Login und erklären.
      <br>
      <br> 6. Aktion 32 (4 Asse) Liste Leute schreiben,
      <a href-inappbrowser="https://vimeo.com/149398105/12966417c0">(Video sehen)</a>
      NNB-Ordner anlegen, erste Kontaktaufnahme GEMEINSAM mit dem Neuen. WAS FÜR WEN? (Vorlagenlisten für Kontakte)
      <br>
      <br> 7. 5 Punkte, Tipps von Gabi besprechen.
      <a href-inappbrowser="https://vimeo.com/149398106/e17bb4d864">(Video sehen)</a>
      <br> - 4 Gegenstände (z.B. WTC-Interview)
      <a href-inappbrowser="https://vimeo.com/149398118/8285439845">(Video sehen)</a>
      <br> - Internationale Möglichkeit durch Leseproben vom Buch „Von Mensch zu Mensch“ (zu finden auf Gabi’s Webseite www.gabisteiner.de oder im MB / auf der THP)
      <a href-inappbrowser="https://vimeo.com/149398111/93d81f2f44">(Video sehen)</a>
      <br> - Fotos von den Wettbewerben Stoffwechsel Kur und Forever Young zeigen (1 Bild sagt mehr als 1000 Worte – in allen Sprachen!)
      <a href-inappbrowser="https://vimeo.com/149398104/324c41e414">(Video sehen)</a>
      <br> - Neutrale Referenzen (Druckvorlagen) am besten ausdrucken auf Farbdrucker und besprechen.
      <a href-inappbrowser="https://vimeo.com/149398115/7bcbe85328">(Video sehen)</a>
      <br> - Life Plus Website kostenlos als geniales Tool für jeden Neustarter (www.lifeplus.com) mit Bob Lemon Video, 3D-Tour durchs Labor etc.
      <a href-inappbrowser="https://vimeo.com/149398123/807bced7fc">(Video sehen)</a>
      <br>
      <br> 8. Calls erwähnen und Einwahldaten geben, evtl. das erste Mal gemainsam hören.
      <br>
      <br> 9. Vergütungsplan besprechen (3 Ebenen, 3-er Bonus, Duplikation)
      <br>
      <br> 10. Anmeldung im Mitgliederbereich www.mitgliederbereich.com und ERKLÄREN, was für Neue relevant ist.
      <a href-inappbrowser="https://vimeo.com/149398105/12966417c0">(Video sehen)</a>
      <br>
      <br> 11. Zusätzlich zum eigenen Startertraining (möglichst gemeinsam) einen Starterworkshop besuchen
      <br>
      <br>
      <b>Archiv der weiteren Werkzeuge</b> (je nach Bedarf einzusetzen)
      <br>
      <br> - Buch „Von Mensch zu Mensch“ lesen. Wichtige Passagen anmarken.
      <a href-inappbrowser="https://vimeo.com/149398111/93d81f2f44">(Video sehen)</a>
      <br> - Bücherlisten zeigen und Starterwerkzeuge empfehlen. (OPC-Broschüren, Risikofaktor, Vitalstoffentscheidung etc.) Katalog – letzte 2 Seiten, THP zeigen / erklären.
      <a href-inappbrowser="https://vimeo.com/149398117/a52c56d693">(Video sehen)</a>
      <br> - Up-Line vorstellen!
      <a href-inappbrowser="https://vimeo.com/149398124/7526acb5e5">(Video sehen)</a>
      <br> - Ping-Pong Liste ausdrucken und besprechen. WAS IST EIN PITCH?
      <a href-inappbrowser="https://vimeo.com/149398108/d40f4449b5">(Video sehen)</a>
      <br> - Eigene Geschichte aufschreiben.
      <a href-inappbrowser="https://vimeo.com/149398119/81f97fd6cd">(Video sehen)</a>
      <br> - www.golpi.com erklären.
      <a href-inappbrowser="https://vimeo.com/149398107/fe3b6f241b">(Video sehen)</a>
    </p>
    <div class="spacer" style="height: 20px;"></div>
    <h5 id="gabiSteiner-heading34" style="color:#775217;font-style:italic;">Hier gehts zum Buch "Von Mensch zu Mensch"</h5>
    <div>
      <img src="img/z8uU9hYVTPeGQGfFQ2wc_Cover_Deutsch.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>