<ion-view title="Gabi Steiner" id="page23" style="background-color:#CEBC95;">
  <ion-content padding="true" class="has-header">
    <div id="gabiSteiner-markdown78" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Geschichte Gabi Steiner:</strong>
      </p>
    </div>
    <div ng-init="videourl_video126=&quot;https://player.vimeo.com/video/282671309?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video126">
      <iframe src="{{videourl_video126}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <h4 id="gabiSteiner-heading33" style="color:#000000;">Tipps und Interviews von und mit Gabi Steiner</h4>
    <div id="gabiSteiner-markdown112" class="show-list-numbers-and-dots">
      <p style="color:#000000;">1 Kataloginfo</p>
    </div>
    <div ng-init="videourl_video107=&quot;https://player.vimeo.com/video/285239961?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video107">
      <iframe src="{{videourl_video107}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown60" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> 2 Bestellvorgang per ASAP oder Webseite erklären - Dauerauftrag mit Preisvorteil Jederzeit veränder- oder kündbar! 30 Tage Geld-zurück Garantie. </p>
    </div>
    <div ng-init="videourl_video108=&quot;https://player.vimeo.com/video/285236150?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video108">
      <iframe src="{{videourl_video108}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown80" class="show-list-numbers-and-dots">
      <p style="color:#000000;">3 Je nach Fall auch bei Kunden die Möglichkeiten der Refinanzierung der Produkte ansprechen. Dann evtl. Druckvorlagen und LP-Website / THP besprechen. </p>
    </div>
    <div ng-init="videourl_video109=&quot;https://player.vimeo.com/video/285236176?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video109">
      <iframe src="{{videourl_video109}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown89" class="show-list-numbers-and-dots">
      <p style="color:#000000;">4 Termine für Basis-Workshop geben</p>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <h4 id="gabiSteiner-heading44" style="color:#000000;">Businesspartner</h4>
    <div id="gabiSteiner-markdown91" class="show-list-numbers-and-dots">
      <p style="color:#000000;">5 In England PIN erfragen. Profil anlegen und persönliches LP Webkonto erstellen.</p>
    </div>
    <div ng-init="videourl_video112=&quot;https://player.vimeo.com/video/285236214?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video112">
      <iframe src="{{videourl_video112}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown92" class="show-list-numbers-and-dots">
      <p style="color:#000000;">und eigene Webseite unter www.lifeplus.com - Login und erklären. </p>
    </div>
    <div ng-init="videourl_video113=&quot;https://player.vimeo.com/video/285236245?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video113">
      <iframe src="{{videourl_video113}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown93" class="show-list-numbers-and-dots">
      <p style="color:#000000;">6 Aktion 32 (4 Asse) Liste Leute schreiben, NNB-Ordner anlegen, erste Kontaktaufnahme GEMEINSAM mit dem Neuen. WAS FÜR WEN? (Vorlagelisten für Kontakte) </p>
    </div>
    <div ng-init="videourl_video114=&quot;https://player.vimeo.com/video/285240237?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video114">
      <iframe src="{{videourl_video114}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown94" class="show-list-numbers-and-dots">
      <p style="color:#000000;">7 - 5 Punkte, Tipps von Gabi besprechen</p>
    </div>
    <div ng-init="videourl_video120=&quot;https://player.vimeo.com/video/285240189?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video120">
      <iframe src="{{videourl_video120}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown95" class="show-list-numbers-and-dots">
      <p style="color:#000000;">7 - 4 Gegenstände (zB. WTC-Interview)</p>
    </div>
    <div ng-init="videourl_video119=&quot;https://player.vimeo.com/video/285240049?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video119">
      <iframe src="{{videourl_video119}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown96" class="show-list-numbers-and-dots">
      <p style="color:#000000;">7 - Internationale Möglichkeit durch Leseproben vom Buch "Von Mensch zu Mensch" (zu finden auf Gabis Webseite www.gabisteiner.de oder im Mitgliederbereich.com oder in der DropBox.</p>
    </div>
    <div ng-init="videourl_video118=&quot;https://player.vimeo.com/video/285240067?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video118">
      <iframe src="{{videourl_video118}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown97" class="show-list-numbers-and-dots">
      <p style="color:#000000;">7 - Fotos von den Wettbewerben Stoffwechsel Kur und Forever Young zeigen (1 Bild sagt mehr als 1000 Worte - in allen Sprachen!)</p>
    </div>
    <div ng-init="videourl_video117=&quot;https://player.vimeo.com/video/285240103?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video117">
      <iframe src="{{videourl_video117}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown98" class="show-list-numbers-and-dots">
      <p style="color:#000000;">7 - Neutrale Referenzen (Druckvorlagen) am besten ausdrucken auf Farbdrucker und besprechen. </p>
    </div>
    <div ng-init="videourl_video116=&quot;https://player.vimeo.com/video/285240142?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video116">
      <iframe src="{{videourl_video116}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown99" class="show-list-numbers-and-dots">
      <p style="color:#000000;">7 - Lifeplus Webseite kostenlos als geniales Tool für jeden Neustarter (www.lifeplus.com) mit Bob Lemon Video, 3D Tour durch Labor, etc. </p>
    </div>
    <div ng-init="videourl_video115=&quot;https://player.vimeo.com/video/285240189?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video115">
      <iframe src="{{videourl_video115}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown100" class="show-list-numbers-and-dots">
      <p style="color:#000000;">8 Calls erwähnen und Einwahldaten geben, evtl. das erste Mal gemeinsam hören. Zum einen gibt es die wöchentlichen Calls, das Archiv im Mitgliederbereich.com und hier in der App unter Audios. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown101" class="show-list-numbers-and-dots">
      <p style="color:#000000;">9 Vergütungsplan besprechen (3 Ebenen, 3er bzw. Starterbonus, Duplikation)</p>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown102" class="show-list-numbers-and-dots">
      <p style="color:#000000;">10 Anmeldung im Mitgliederbereich www.mitgliederbereich.com und ERKLÄREN, was für Neue relevant ist. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown103" class="show-list-numbers-and-dots">
      <p style="color:#000000;">11 Zusätzlich zum eigenen Startertraining (möglichst gemeinsam) einen Starterworkshop besuchen. </p>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown104" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Archiv der weiteren Werkzeuge</strong> (je nach Bedarf einzusetzen)</p>
    </div>
    <div id="gabiSteiner-markdown105" class="show-list-numbers-and-dots">
      <ul>
        <li>Buch "Von Mensch zu Mensch" lesen! Wichtige Passagen anmarkern</li>
      </ul>
    </div>
    <div ng-init="videourl_video122=&quot;https://player.vimeo.com/video/285240274?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video122">
      <iframe src="{{videourl_video122}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown106" class="show-list-numbers-and-dots">
      <ul>
        <li>Bücherlisten zeigen und Starterwerkzeuge empfehlen. (OPC-Broschüren, Risikofaktor Vitaminmangel, Vitalstoffentscheidung, etc.) Katalog - letzten 2 Seiten, THP zeigen/ erklären:</li>
      </ul>
    </div>
    <div ng-init="videourl_video110=&quot;https://player.vimeo.com/video/285245809?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video110">
      <iframe src="{{videourl_video110}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown107" class="show-list-numbers-and-dots">
      <ul>
        <li>Up-Line vorstellen!!</li>
      </ul>
    </div>
    <div ng-init="videourl_video111=&quot;https://player.vimeo.com/video/285240381?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video111">
      <iframe src="{{videourl_video111}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown108" class="show-list-numbers-and-dots">
      <ul>
        <li>Ping-Pong Liste ausdrucken und besprechen. WAS IST EIN PITSH?</li>
      </ul>
    </div>
    <div ng-init="videourl_video123=&quot;https://player.vimeo.com/video/285240410?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video123">
      <iframe src="{{videourl_video123}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown110" class="show-list-numbers-and-dots">
      <ul>
        <li>Eigene Geschichte aufschreiben. (Details zum Thema: wie erzähle ich meine eigene Geschichte findest Du hier in der App unter der Rubrik
          <strong>Workshop</strong>
        </li>
      </ul>
    </div>
    <div ng-init="videourl_video124=&quot;https://player.vimeo.com/video/285240437?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video124">
      <iframe src="{{videourl_video124}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="gabiSteiner-markdown111" class="show-list-numbers-and-dots">
      <ul>
        <li>www.golpi.com erklären. (Details zur Golpi findest du hier in der App in der Rubirk
          <strong>Workshop</strong>
        </li>
      </ul>
    </div>
    <div ng-init="videourl_video125=&quot;https://player.vimeo.com/video/285240464?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video125">
      <iframe src="{{videourl_video125}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <h5 id="gabiSteiner-heading34" style="color:#775217;font-style:italic;">Hier gehts zur Leseprobe vom Buch "Von Mensch zu Mensch"</h5>
    <div>
      <img src="img/z8uU9hYVTPeGQGfFQ2wc_Cover_Deutsch.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <h1 id="gabiSteiner-heading21" style="color:#000000;">INTERVIEWS</h1>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown52" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Interview von Robin</p>
    </div>
    <div ng-init="videourl_video105=&quot;https://player.vimeo.com/video/282659815?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video105">
      <iframe src="{{videourl_video105}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown40" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gabi zum entgangenden Nutzen</p>
    </div>
    <div ng-init="videourl_video58=&quot;https://player.vimeo.com/video/282659686?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video58">
      <iframe src="{{videourl_video58}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gabi zum Informationsfluss</p>
    </div>
    <div ng-init="videourl_video57=&quot;https://player.vimeo.com/video/282660277?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video57">
      <iframe src="{{videourl_video57}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown42" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gabi zum Thema Neue Medien</p>
    </div>
    <div ng-init="videourl_video56=&quot;https://player.vimeo.com/video/282536965?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video56">
      <iframe src="{{videourl_video56}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown43" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gabi zum Mitgliederbereich</p>
    </div>
    <div ng-init="videourl_video55=&quot;https://player.vimeo.com/video/282536904?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video55">
      <iframe src="{{videourl_video55}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown44" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gabi Interview Mallorca</p>
    </div>
    <div ng-init="videourl_video54=&quot;https://player.vimeo.com/video/282536809?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video54">
      <iframe src="{{videourl_video54}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown45" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gabi zum Kaufhaus-Pitsh</p>
    </div>
    <div ng-init="videourl_video53=&quot;https://player.vimeo.com/video/282272484?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video53">
      <iframe src="{{videourl_video53}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="gabiSteiner-markdown56" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hörprobe vom Hörbuch Gabi Steiner</p>
    </div>
    <div ng-init="videourl_video106=&quot;https://player.vimeo.com/video/265691816?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="gabiSteiner-video106">
      <iframe src="{{videourl_video106}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
  </ion-content>
</ion-view>