<ion-view title="Login" nav-transition="none" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(https://s3.amazonaws.com/ionic-io-static/LCjr2fAYS5e8UvrxpD8M_greg-kantra-554052-unsplash-web2.jpg) no-repeat center;background-size:cover;">
    <div class="spacer" style="width: 100%; height: 20px;"></div>
    <div>
      <h1>Be Konzepte</h1>
		<h1>Be Konzepte</h1>
    </div>
    <div class="spacer" style="width: 100%; height:5px;"></div>
    <form id="login-form1" class="list center-form">
      <div class="show-list-numbers-and-dots error-box">
        <p>{{errorBox}}</p>
      </div>
      <ion-list id="login-list1">
        <label class="item item-input top-input" id="login-input1">
          <input type="text" placeholder="Email" ng-model="data.email">
        </label>
        <label class="item item-input bottom-input" id="login-input2">
          <input type="password" placeholder="Passwort" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 290px; height:220px;"></div>
      <button id="login-button1" ng-click="login()" class="button button-positive  button-block button-positive">Anmelden</button>
      <a ui-sref="registrieren" id="login-button2" class="button button-light button-block">Registrieren</a>
    </form>
  </ion-content>
</ion-view>