<ion-view title="Nützliches" id="page10">
  <ion-content padding="true" style="background: url(img/cqzb9PGATsCi5preHAdY_pexels-photo-755023-web2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.be-konzepte.de">
        <img src="img/Gs2INy8SriKMweipmOjw_s1.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.golpi.com">
        <img src="img/3tZFQAjFQwWT2jc3nTzg_s4.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.fetzer-buechershop.de">
        <img src="img/JYW810qQ1OInBUeyb4z4_s3.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.lifeplus.com">
        <img src="img/YJrNSH1CTUGP1PBMzHJh_s5.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.steinerteam.com">
        <img src="img/rz3UVNDmQhXcqTTiDQcg_s2.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>