<ion-view title="Produkte" id="page10">
  <ion-content padding="true" style="background: url(img/ILsvck0lQJe2lsB9Yx5Q_produkte-app.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div class="list card" id="produkte-card25"></div>
    <div id="produkte-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>DER UMGANG MIT PRODUKTEN</strong>
      </p>
    </div>
    <div ng-init="videourl_video42=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video42">
      <iframe src="{{videourl_video42}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Das DAILY </strong>
      </p>
    </div>
    <div ng-init="videourl_video43=&quot;https://player.vimeo.com/video/284937521?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video43">
      <iframe src="{{videourl_video43}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>OPC - Proanthenols 1/2</strong>
      </p>
    </div>
    <div ng-init="videourl_video97=&quot;https://player.vimeo.com/video/284938536?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video97">
      <iframe src="{{videourl_video97}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown81" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>OPC - Proanthenols 2/2</strong>
      </p>
    </div>
    <div ng-init="videourl_video98=&quot;https://player.vimeo.com/video/285081303?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video98">
      <iframe src="{{videourl_video98}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown82" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>OME GOLD 1/2</strong> (Omega3)</p>
    </div>
    <div ng-init="videourl_video99=&quot;https://player.vimeo.com/video/284939024?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video99">
      <iframe src="{{videourl_video99}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown84" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>OME GOLD 2/2</strong> (Omega3)</p>
    </div>
    <div ng-init="videourl_video100=&quot;https://player.vimeo.com/video/285081236?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video100">
      <iframe src="{{videourl_video100}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown83" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>MSM 1/2</strong>
      </p>
    </div>
    <div ng-init="videourl_video101=&quot;https://player.vimeo.com/video/284937929?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video101">
      <iframe src="{{videourl_video101}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown85" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>MSM 2/2</strong>
      </p>
    </div>
    <div ng-init="videourl_video102=&quot;https://player.vimeo.com/video/285081141?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video102">
      <iframe src="{{videourl_video102}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="produkte-markdown86" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>BE PRODUKTE</strong>
      </p>
    </div>
    <div ng-init="videourl_video44=&quot;https://player.vimeo.com/video/282668990?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video44">
      <iframe src="{{videourl_video44}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Statement zu Produkten von einem Arzt</strong>
      </p>
    </div>
    <div ng-init="videourl_video45=&quot;https://player.vimeo.com/video/282489209?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video45">
      <iframe src="{{videourl_video45}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Micha stellt
        <strong>NATURALII</strong> vor</p>
    </div>
    <div ng-init="videourl_video47=&quot;https://player.vimeo.com/video/282490764?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video47">
      <iframe src="{{videourl_video47}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>DISCOVERY 1/3</strong> (Trailer)</p>
    </div>
    <div ng-init="videourl_video46=&quot;https://player.vimeo.com/video/282503011?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video46">
      <iframe src="{{videourl_video46}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>DISCOVERY 2/3</strong> (Erklärung)</p>
    </div>
    <div ng-init="videourl_video48=&quot;https://player.vimeo.com/video/282273840?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video48">
      <iframe src="{{videourl_video48}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown34" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>DISCOVERY 3/3</strong> (einfach erklärt)</p>
    </div>
    <div ng-init="videourl_video49=&quot;https://player.vimeo.com/video/285113913?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video49">
      <iframe src="{{videourl_video49}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Herstellung 1/2</strong>
      </p>
    </div>
    <div ng-init="videourl_video51=&quot;https://player.vimeo.com/video/282264541?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video51">
      <iframe src="{{videourl_video51}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown87" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Herstellung 2/2</strong>
      </p>
    </div>
    <div ng-init="videourl_video104=&quot;https://player.vimeo.com/video/282264591?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video104">
      <iframe src="{{videourl_video104}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown88" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>UMGANG EXCELLISTE</strong>
      </p>
    </div>
    <div ng-init="videourl_video103=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video103">
      <iframe src="{{videourl_video103}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="produkte-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>LITERATUREMPFEHLUNG</strong>
      </p>
    </div>
    <div ng-init="videourl_video50=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="produkte-video50">
      <iframe src="{{videourl_video50}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div class="spacer" style="width: 300px; height: 79px;"></div>
  </ion-content>
</ion-view>