<ion-view title="STARTER" id="page5">
  <ion-content padding="true" style="background: url(img/ri0ok7G7TCaB3mZeV8zr_Fotolia_83908624_M.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="sTARTER-heading22" style="color:#FFFFFF;font-style:italic;text-align:center;">TIPPS ZUM START</h4>
    <div id="sTARTER-markdown113" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Arbeitskreis</p>
    </div>
    <div ng-init="videourl_video141=&quot;https://player.vimeo.com/video/281635720?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video141">
      <iframe src="{{videourl_video141}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown120" class="show-list-numbers-and-dots">
      <p style="color:#000000;">DIE 10 BASICS</p>
    </div>
    <div ng-init="videourl_video143=&quot;https://player.vimeo.com/video/280897154?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video143">
      <iframe src="{{videourl_video143}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div>
      <img src="img/4hLYhfn8RCizeV6cBRQV_Foto14.08.17093903.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sTARTER-markdown121" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Arbeitsweise von Julian erklärt</p>
    </div>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div ng-init="videourl_video144=&quot;https://player.vimeo.com/video/281808417?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="sTARTER-video144">
      <iframe src="{{videourl_video144}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="sTARTER-markdown122" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FCFCFC;">WEITERE TIPPS ZUM START</p>
    </div>
    <div id="sTARTER-markdown123" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Gespräch mit vielen Tipps</p>
    </div>
    <div ng-init="videourl_video145=&quot;https://player.vimeo.com/video/285252618?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video145">
      <iframe src="{{videourl_video145}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown124" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Aktion 32</p>
    </div>
    <div ng-init="videourl_video147=&quot;https://player.vimeo.com/video/285833285?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video147">
      <iframe src="{{videourl_video147}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown127" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Upline Vorstellen</p>
    </div>
    <div ng-init="videourl_video149=&quot;https://player.vimeo.com/video/285834768?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video149">
      <iframe src="{{videourl_video149}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown128" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Kontaktliste</p>
    </div>
    <div ng-init="videourl_video150=&quot;https://player.vimeo.com/video/285831448?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video150">
      <iframe src="{{videourl_video150}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown129" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Zielcollage</p>
    </div>
    <div ng-init="videourl_video151=&quot;https://player.vimeo.com/video/285827175?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video151">
      <iframe src="{{videourl_video151}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown130" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Produkte oder Vision</p>
    </div>
    <div ng-init="videourl_video152=&quot;https://player.vimeo.com/video/285835510?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video152">
      <iframe src="{{videourl_video152}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown131" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Veranstaltungen</p>
    </div>
    <div ng-init="videourl_video153=&quot;https://player.vimeo.com/video/285837609?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video153">
      <iframe src="{{videourl_video153}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown132" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Werde zum Coach</p>
    </div>
    <div ng-init="videourl_video154=&quot;https://player.vimeo.com/video/285836505?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video154">
      <iframe src="{{videourl_video154}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown142" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Wachstum von zu Hause</p>
    </div>
    <div ng-init="videourl_video103=&quot;https://player.vimeo.com/video/285966092?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video103">
      <iframe src="{{videourl_video103}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="sTARTER-markdown133" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Wachstumspotential</p>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div ng-init="videourl_video172=&quot;https://player.vimeo.com/video/285977067?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="sTARTER-video172">
      <iframe src="{{videourl_video172}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="sTARTER-markdown134" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Literatur zum Start</p>
    </div>
    <div ng-init="videourl_video163=&quot;https://player.vimeo.com/video/285966049?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTARTER-video163">
      <iframe src="{{videourl_video163}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
  </ion-content>
</ion-view>