<ion-view id="page1" class="margin">
  <ion-tabs class="tabs-stable tabs-icon-top margin" id="tabsController-tabs1">
    <ion-tab title="Video" icon="ion-ios-videocam" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Audio" icon="ion-ios-volume-high" href="#/page1/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Konzepte" icon="ion-ios-speedometer" href="#/page1/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Produkte" icon="ion-leaf" href="#/page1/tab5/page10" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="STARTTIPPS" icon="ion-ios-lightbulb-outline" href="#/page1/page5" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>