<ion-view title="Termine" hide-nav-bar="true" id="page17">
  <ion-content padding="true" style="background: url(img/CZJYOhlhRAiQcgg6OHw2_Fotolia_138835748_M-web2.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <h5 id="termine-heading28" style="color:#793939;font-style:italic;text-align:right;">Hierzu kannst du einladen...</h5>
    <div>
      <img src="img/Cy76bz8sQTaPEdFZrq1s_upcomingevents.png" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 91px;"></div>
    <form id="termine-form2" class="list">
      <label class="item item-select" id="termine-select1">
        <span class="input-label">Termine</span>
        <select>
          <option>2.3. Hannover, 18 Uhr Klose, Startertraining</option>
          <option>7.3. Bad Rothenfelde, 18 Uhr Kai, Erfolg im Empfehlungsmarketing</option>
          <option>35.16. Friedensstadt, 25 Uhr Gesundheit- &amp; Erfolgsvortrag</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>