<ion-view title="Video Health Hampel" id="page24">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/OESQln8TgmVGDuGIlRrN_1-Hampel.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div ng-init="videourl_video22=&quot;https://player.vimeo.com/video/257692715?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoHealthHampel-video22">
      <iframe src="{{videourl_video22}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>