<ion-view title="Video Coaching" hide-back-button="true" id="page2">
  <ion-content padding="true" style="background: url(img/AaJASgmlRSi10KsbFDyZ_Fotolia_191646882_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/I3KWETxPSOCDNQKj2jqG_schrift-weiss.png" style="display: block; width: 50%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoCoachingBusiness()">
        <img src="img/H5eMpY3TeGbJFLeQ7vBH_1-business.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoCoachingHealth()">
        <img src="img/Iq3yQV4IToikztYAC6RS_b1-health.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
  </ion-content>
</ion-view>