<ion-view title="Video Coaching" hide-back-button="true" id="page2">
  <ion-content padding="true" style="background: url(img/AaJASgmlRSi10KsbFDyZ_Fotolia_191646882_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="videoCoaching-container13">
      <div>
        <img src="img/I3KWETxPSOCDNQKj2jqG_schrift-weiss.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoLifeplus()">
        <img src="img/FdmhOwz2SDWtaMEKUaXt_IMG_1010.JPG" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoCoachingBusiness()">
        <img src="img/YQzUnj7ZRS7p2o1nYzc3_IMG_1009.JPG" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoCoachingHealth()">
        <img src="img/niX5wXHsRqGKhAtWtjv6_IMG_1008.JPG" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="videoCoaching-container3" class="col-sm-6 right">
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div class="spacer" style="width: 300px; height: 34px;"></div>
    </div>
  </ion-content>
</ion-view>