<ion-view title="Video Health DIE KUR" id="page21">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="videoHealthDIEKUR-heading47" style="color:#FFFFFF;text-align:center;">Ablauf Kur</h4>
    <div id="videoHealthDIEKUR-markdown49" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>VOR</strong> der Kur</p>
    </div>
    <div ng-init="videourl_video21=&quot;https://player.vimeo.com/video/258465281?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video21">
      <iframe src="{{videourl_video21}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoHealthDIEKUR-heading32" style="color:#FFFFFF;font-style:italic;">Handout zur Kur inkl. Rezepte:</h4>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.dropbox.com/s/g2fgxsl4e5nezef/Handout.pdf?dl=0">
        <img src="img/Ig4KM9gFS2KpfS6RMeQ5_handout.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="videoHealthDIEKUR-markdown50" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>NACH</strong> der Kur</p>
    </div>
    <div ng-init="videourl_video72=&quot;https://player.vimeo.com/video/285096008?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video72">
      <iframe src="{{videourl_video72}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="videoHealthDIEKUR-heading48" style="color:#388530;text-align:center;">Vitalstoffe zur Kur</h4>
    <div id="videoHealthDIEKUR-markdown51" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Das Daily</p>
    </div>
    <div ng-init="videourl_video75=&quot;https://player.vimeo.com/video/285080985?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video75">
      <iframe src="{{videourl_video75}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div id="videoHealthDIEKUR-markdown115" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">OPC</p>
    </div>
    <div ng-init="videourl_video127=&quot;https://player.vimeo.com/video/285081303?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video127">
      <iframe src="{{videourl_video127}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="videoHealthDIEKUR-markdown116" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">OME GOLD</p>
    </div>
    <div ng-init="videourl_video128=&quot;https://player.vimeo.com/video/285081236?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video128">
      <iframe src="{{videourl_video128}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div id="videoHealthDIEKUR-markdown117" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">MSM</p>
    </div>
    <div ng-init="videourl_video129=&quot;https://player.vimeo.com/video/285081141?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video129">
      <iframe src="{{videourl_video129}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="videoHealthDIEKUR-heading52" style="color:#FFFFFF;text-align:center;">Schau auch unbedingt in den Bereichen GESUNDHEIT vorbei. Hier werden Krankheitsbilder beschrieben. UND in der Kategorie PRODUKTE findest Du tolle Tipps zum Daily etc. </h4>
  </ion-content>
</ion-view>