<ion-view title="Video GO PRO" id="page14">
  <ion-content padding="true" style="background: url(img/vfdOACoS3GIvRiyuG4WA_Fotolia_187255098_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="videoGOPRO-heading20" style="color:#000000;font-style:italic;">Die Arten des Einladens</h4>
    <div ng-init="videourl_video19=&quot;https://player.vimeo.com/video/177081474?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoGOPRO-video19">
      <iframe src="{{videourl_video19}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoGOPRO-heading15" style="color:#000000;font-style:italic;">Eric Worre's TOP 10</h4>
    <div ng-init="videourl_video14=&quot;https://www.youtube.com/embed/_a9Xq4_cKNI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoGOPRO-video14">
      <iframe src="{{videourl_video14}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoGOPRO-heading17" style="color:#000000;">Eric Worre - 20 Leute in 30 Tagen</h4>
    <div ng-init="videourl_video16=&quot;https://www.youtube.com/embed/hMgRcsWUiQU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoGOPRO-video16">
      <iframe src="{{videourl_video16}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoGOPRO-heading16" style="color:#000000;font-style:italic;">Geschäft des 21. Jahrhunderts</h4>
    <div ng-init="videourl_video15=&quot;https://www.youtube.com/embed/ztAgg7eVfJs?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoGOPRO-video15">
      <iframe src="{{videourl_video15}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoGOPRO-heading18" style="color:#000000;font-style:italic;">Kontakte machen</h4>
    <div ng-init="videourl_video17=&quot;https://www.youtube.com/embed/ImDvepN4xHM?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoGOPRO-video17">
      <iframe src="{{videourl_video17}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoGOPRO-heading19" style="color:#000000;font-style:italic;">Raus aus dem Hamsterrad</h4>
    <div ng-init="videourl_video18=&quot;https://www.youtube.com/embed/AcyCIRg6CoE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoGOPRO-video18">
      <iframe src="{{videourl_video18}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>