<ion-view title="Video Health Vitalstoffe" id="page24">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <h4 id="videoHealthVitalstoffe-heading38" style="color:#000000;text-align:center;">Vitalstoffe</h4>
    <div id="videoHealthVitalstoffe-markdown57" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Vitalstoffe</strong> Dr. Ghassemi-Fahrt</p>
    </div>
    <div ng-init="videourl_video167=&quot;https://player.vimeo.com/video/285973494?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthVitalstoffe-video167">
      <iframe src="{{videourl_video167}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="videoHealthVitalstoffe-markdown136" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Vitalstoffe</strong> Jochen Bürgener</p>
    </div>
    <div ng-init="videourl_video22=&quot;https://player.vimeo.com/video/281815093?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthVitalstoffe-video22">
      <iframe src="{{videourl_video22}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="videoHealthVitalstoffe-markdown58" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Vitalstoffe JA/NEIN?</strong> Dr. Judith Hampel</p>
    </div>
    <div ng-init="videourl_video79=&quot;https://player.vimeo.com/video/258757774?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthVitalstoffe-video79">
      <iframe src="{{videourl_video79}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="videoHealthVitalstoffe-markdown59" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Vitalstoffe im Überfluss?</strong> Nicole Büning</p>
    </div>
    <div ng-init="videourl_video80=&quot;https://player.vimeo.com/video/285081751?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthVitalstoffe-video80">
      <iframe src="{{videourl_video80}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="videoHealthVitalstoffe-markdown61" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Vitalstoffe</strong> Dr. Müller-Wohlfahrt</p>
    </div>
    <div ng-init="videourl_video81=&quot;https://player.vimeo.com/video/285100182?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthVitalstoffe-video81">
      <iframe src="{{videourl_video81}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="videoHealthVitalstoffe-markdown62" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Buchempfehlung</strong>
        Wenn Du mehr zu diesem Thema wissen möchtest, empfehlen wir:
        <strong>Die Vitalstoffentscheidung</strong> und
        <strong>Risikofaktor Vitaminmangel</strong>. Beides zu finden im Fetzer-buechershop.de </p>
    </div>
  </ion-content>
</ion-view>