<ion-view title="Video Persönlichkeitsentwicklung" id="page13">
  <ion-content padding="true" style="background: url(img/vfdOACoS3GIvRiyuG4WA_Fotolia_187255098_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="videoPersNlichkeitsentwicklung-heading9" style="color:#000000;font-style:italic;">Tobias Beck - Bewohnerfrei (TIP)</h4>
    <div ng-init="videourl_video8=&quot;https://www.youtube.com/embed/aAY4rF6x0CQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoPersNlichkeitsentwicklung-video8">
      <iframe src="{{videourl_video8}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoPersNlichkeitsentwicklung-heading10" style="color:#000000;font-style:italic;">Tobias Beck - Menschentypen</h4>
    <div ng-init="videourl_video9=&quot;https://www.youtube.com/embed/-IOp9qrjLJU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoPersNlichkeitsentwicklung-video9">
      <iframe src="{{videourl_video9}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoPersNlichkeitsentwicklung-heading11" style="color:#000000;font-style:italic;">Micha - Geiles Leben</h4>
    <div ng-init="videourl_video10=&quot;https://www.youtube.com/embed/yyJtH90A_MU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoPersNlichkeitsentwicklung-video10">
      <iframe src="{{videourl_video10}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoPersNlichkeitsentwicklung-heading12" style="color:#000000;font-style:italic;">Dirk Kräuter - Motivation Erfolg</h4>
    <div ng-init="videourl_video11=&quot;https://www.youtube.com/embed/l68be4UAJFM?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoPersNlichkeitsentwicklung-video11">
      <iframe src="{{videourl_video11}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoPersNlichkeitsentwicklung-heading13" style="color:#000000;font-style:italic;">Tobias Beck - MOTIVATION</h4>
    <div ng-init="videourl_video12=&quot;https://www.youtube.com/embed/ACk0nMrpyVI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoPersNlichkeitsentwicklung-video12">
      <iframe src="{{videourl_video12}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoPersNlichkeitsentwicklung-heading14" style="color:#000000;font-style:italic;">Tobias Beck - Change it up</h4>
    <div ng-init="videourl_video13=&quot;https://www.youtube.com/embed/LYYF-otjLno?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoPersNlichkeitsentwicklung-video13">
      <iframe src="{{videourl_video13}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>