<ion-view title="Video Health Erfolge facebook" id="page36">
  <ion-content padding="true" style="background: url(img/VUtHpP1zTwGIIOcIbk9J_Fotolia_138821285_M.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="videoHealthErfolgeFacebook-heading28" style="color:#6D6A6A;font-style:italic;text-align:center;">NUR INTERN VERWENDEN</h4>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <img src="img/GGkzd5kTRKl7tM1Z9Sng_IMG_0915.JPG" style="display: block; width: 40%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>