<ion-view title="Video Health Erfolge" id="page34">
  <ion-content padding="true" style="background: url(img/VUtHpP1zTwGIIOcIbk9J_Fotolia_138821285_M.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="videoHealthErfolge-heading26" style="color:#615E5E;font-style:italic;">Die Fotos sind nicht zur Veröffentlichung - nur zum zeigen!</h4>
    <div ng-init="videourl_video177=&quot;https://player.vimeo.com/video/286014770?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoHealthErfolge-video177">
      <iframe src="{{videourl_video177}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="videoHealthErfolge-markdown146" class="show-list-numbers-and-dots">
      <p style="color:#000000;">alle Fotos sind vorher/ nachher Bilder innerhalb von
        <strong>4 Wochen</strong>
      </p>
    </div>
    <div>
      <img src="img/xgEODK4hR4CqhTAcSIEz_Foto14.08.170936493.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/M9zAzKToQLy8bvkMc0kG_Foto14.08.170936494.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Lzh8FddnQKG25TTABrzy_Foto14.08.17093627.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/lp8nShLTNe8iTtmzMRGU_Foto14.08.17093626.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/9gdYpJFRyy340hsDVMxA_IMG_0055.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/u0ixrXvlSrW4szTKwH28_IMG_0056.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/wIlj0kPNTRGHVHZ2TgVK_Foto14.08.17093534.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/RS5Q7zLQGyA1MVYePqcg_Foto14.08.170935353.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/9BWs24ET4ShaFoExoe1w_IMG_3018.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/1RexBEzqSkGnpIG2EnSc_Foto14.08.170935354.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/uTyMJF72SsinNaMYcUpv_Foto14.08.170937301.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/MLjHQr50TzSbug8Zcjqb_Foto14.08.17093730.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/VD3deEH4THmKzX2bzVXJ_Foto14.08.170936271.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/x7prX5MYQilGB2egZJZQ_Foto14.08.170936251.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/mhF1C03Twmt9KJ0CwKft_Foto14.08.17093646.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/KZUbTulTFmD4tyC7rIww_Foto14.08.170936275.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/e1w2gH4ETt2EH1IYrsHM_Foto14.08.17093505.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/54iFGdjCSG61EOaKtwrV_Foto14.08.17093645.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/8WOI5OERJSDNYJogDKqU_Foto14.08.170936261.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/UXhn1rwQEiUk8AwAEoNN_Foto14.08.170935351.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/exiH0t65SOaTnyXSxByj_Foto14.08.170935061.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/aFPwXhBT8eLFW18tbUgh_IMG_0009.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/SN09j8n4T02uBJvA74xr_IMG_0573.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/acxBHeIgRze7O5TMbc1r_IMG_3019.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/BeBbrStTQggsKM2iTZVQ_Foto14.08.17093625.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
  </ion-content>
</ion-view>