<ion-view title="Video Coaching Business" id="page7">
  <ion-content padding="true" style="background: url(img/nCuIjDnkQiNyO1LeN6Vg_Fotolia_191840405_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.videoCoachingBASIC()">
        <img src="img/QI7oIKyCSVS5YAE9k9UW_b-basics.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.gabiSteiner()">
        <img src="img/9Wwuj2fR92Os4OhjS4ag_b-gabi.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoGOPRO()">
        <img src="img/1mSNp20oSDKThRsDseHw_b-gopro.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoPersNlichkeitsentwicklung()">
        <img src="img/IxD0heYqSQilUfR1sKmk_b-persEntw.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
  </ion-content>
</ion-view>