<ion-view title="Video Lifeplus" id="page25">
  <ion-content padding="true" style="background: url(img/AaJASgmlRSi10KsbFDyZ_Fotolia_191646882_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="videoLifeplus-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Lifeplus
        <strong>Originalfilme</strong>
      </p>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoLifeplusBer()">
        <img src="img/7RbB5zzGRz6KAMGQQ1Yc_lifeplus2.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoLifeplusVon()">
        <img src="img/rSmhppp8QTmhrs2zgRLM_lifeplus1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoLifeplusEvents()">
        <img src="img/48JWluWTHGASdx2pu8ZA_lifeplus3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
  </ion-content>
</ion-view>