<ion-view title="Video Coaching BASIC" id="page8">
  <ion-content padding="true" style="background: url(img/nCuIjDnkQiNyO1LeN6Vg_Fotolia_191840405_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.videoVergTungsplan()">
        <img src="img/JyRGfTTwmh5iQjj0xiQ8_b-verguetung.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoStartertraining()">
        <img src="img/q6wixSEESSDm1wKyfNtC_b1-starter.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.gabiSteiner()">
        <img src="img/j0nh3ezQPyAfLVMJoHxQ_gabis-tipps.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoWorkshop()">
        <img src="img/uo77KLkTniXafE98CnyQ_1-workshop.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
  </ion-content>
</ion-view>