<ion-view title="Video Health nach der Kur" id="page22">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/rVnWiI9HR9OSH35ZBoAu_b1-kur2.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div class="list card" id="videoHealthNachDerKur-card24">
      <ion-item class="item-thumbnail-left" id="videoHealthNachDerKur-list-item9">
        <img src="img/JEJl9pgoRVuGDJGYuGRP_health.jpg">
        <h2>Testvideo</h2>
        <p style="white-space:normal;">Nicht wundern. Das Video dient nur zu Testzwecken.</p>
      </ion-item>
      <video width="100%" controls="" controlslist="nodownload" preload="metadata">
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"> Your browser does not support HTML5 video.
      </video>
    </div>
  </ion-content>
</ion-view>