<ion-view title="Video Coaching BASIC" id="page8">
  <ion-content padding="true" style="background: url(img/c5O4g5P0T3WLdd5ST67o_Fotolia_138821285_M.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.videoVergTungsplan()">
        <img src="img/Vk9pSGQQQYjE8uKvrOJM_c-vergtung.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoStartertraining()">
        <img src="img/gcYwiPJpQOWwqDG36hnp_c-starter.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoWorkshop()">
        <img src="img/y9h621xKTUSOx4Y2dkIA_c-workshop.JPG" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
  </ion-content>
</ion-view>