<ion-view title="Video Coaching Business" id="page7">
  <ion-content padding="true" style="background: url(img/nCuIjDnkQiNyO1LeN6Vg_Fotolia_191840405_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.videoCoachingBASIC()">
        <img src="img/RGM9mLg0RSyE6PppmItI_1-basic2.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoGOPRO()">
        <img src="img/dCllAjMRbG8xQBKX1B7g_1-gopro.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoPersNlichkeitsentwicklung()">
        <img src="img/UbpTghYQTKOTO3xz2OX6_1-persnlichkeit.png" style="display:block;width:40%;height:auto;">
      </a>
    </div>
  </ion-content>
</ion-view>