<ion-view title="Video Health DIE KUR" id="page21">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/pOWn3n56S3yYcvTtA6Uo_b1-kur1.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div ng-init="videourl_video21=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthDIEKUR-video21">
      <iframe src="{{videourl_video21}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoHealthDIEKUR-heading32" style="color:#FFFFFF;font-style:italic;">Handout zur Kur:</h4>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.dropbox.com/s/g2fgxsl4e5nezef/Handout.pdf?dl=0">
        <img src="img/Ig4KM9gFS2KpfS6RMeQ5_handout.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>