<ion-view title="Video Coaching Health" id="page6" style="background-color:#444436;">
  <ion-content padding="true" style="background: url(img/TlIwFvxeSOm4y2ShzIfO_Fotolia_138821285_M.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div id="videoCoachingHealth-container10" class="clear">
      <div>
        <a style="display:block;" ui-sref="tabsController.videoHealthDIEKUR()">
          <img src="img/ZnzlzBBbTU2nnZV8hQd1_IMG_0913.JPG" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 300px; height: 4px;"></div>
      <div>
        <a style="display:block;" ui-sref="tabsController.videoHealthVitalstoffe()">
          <img src="img/2MOVnUWTGCRMgAdk2ILg_IMG_0910.JPG" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </div>
    <div id="videoCoachingHealth-container11" class="clear">
      <div class="spacer" style="width: 300px; height: 4px;"></div>
      <div>
        <a style="display:block;" ui-sref="tabsController.videoHealthGesundheit()">
          <img src="img/FtgUa2vSQSyEKU1rYGnK_IMG_0911.JPG" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 300px; height: 4px;"></div>
    </div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthErfolge()">
        <img src="img/BJkeKXlaRaaLSU5NFHhZ_IMG_0912.JPG" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.produkte()">
        <img src="img/UrBIacfzQyKIkahJcns8_IMG_0919.JPG" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 4px;"></div>
  </ion-content>
</ion-view>