<ion-view title="Video Lifeplus events" id="page33">
  <ion-content padding="true" style="background: url(img/AaJASgmlRSi10KsbFDyZ_Fotolia_191646882_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">Lifeplus
        <strong>Events</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">LPU - LifePlusUniversity</p>
    </div>
    <div ng-init="videourl_video32=&quot;https://player.vimeo.com/video/282503575?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video32">
      <iframe src="{{videourl_video32}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Spirit 2017</p>
    </div>
    <div ng-init="videourl_video33=&quot;https://player.vimeo.com/video/282502825?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video33">
      <iframe src="{{videourl_video33}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Lifeplus Foundation - Lauf Köln</p>
    </div>
    <div ng-init="videourl_video34=&quot;https://player.vimeo.com/video/282503304?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video34">
      <iframe src="{{videourl_video34}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Lifeplus Karlsruhe2011 - Interview Steiner</p>
    </div>
    <div ng-init="videourl_video35=&quot;https://player.vimeo.com/video/282504313?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video35">
      <iframe src="{{videourl_video35}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Anerkennungsgala 2017</p>
    </div>
    <div ng-init="videourl_video36=&quot;https://player.vimeo.com/video/282505774?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video36">
      <iframe src="{{videourl_video36}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">LPU - Lifeplus University</p>
    </div>
    <div ng-init="videourl_video37=&quot;https://player.vimeo.com/video/282506901?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video37">
      <iframe src="{{videourl_video37}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Spirit2018</p>
    </div>
    <div ng-init="videourl_video38=&quot;https://player.vimeo.com/video/282533559?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video38">
      <iframe src="{{videourl_video38}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Young Generation - Malle</p>
    </div>
    <div ng-init="videourl_video39=&quot;https://player.vimeo.com/video/282657742?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video39">
      <iframe src="{{videourl_video39}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="videoLifeplusEvents-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Aktivwoche - Stimmen</p>
    </div>
    <div ng-init="videourl_video74=&quot;https://player.vimeo.com/video/282658937?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoLifeplusEvents-video74">
      <iframe src="{{videourl_video74}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
  </ion-content>
</ion-view>