<ion-view title="Video Health Erfolge" id="page34">
  <ion-content padding="true" style="background: url(img/VUtHpP1zTwGIIOcIbk9J_Fotolia_138821285_M.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="videoHealthErfolge-heading26" style="color:#FFFFFF;font-style:italic;">Handout zur </h4>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthDIEKUR()">
        <img src="img/cvWWyZ5QQSaVwPJC1boS_IMG_0916.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthErfolgeFacebook()">
        <img src="img/GGkzd5kTRKl7tM1Z9Sng_IMG_0915.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthErfolgeStorys()">
        <img src="img/ESpCZLXERNyNXqRPqCiF_IMG_0914.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>