<ion-view title="Video Coaching Health" id="page6">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthDIEKUR()">
        <img src="img/pOWn3n56S3yYcvTtA6Uo_b1-kur1.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthNachDerKur()">
        <img src="img/rVnWiI9HR9OSH35ZBoAu_b1-kur2.png" style="display: block; width: 42%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.videoHealthHampel()">
        <img src="img/c7p0mtrZQBCW11Qnj5Wr_1-Hampel.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>