<ion-view title="Video Health Gesundheit" id="page22">
  <ion-content padding="true" style="background: url(img/Ox3mHosAQdWIytU92Cmd_Fotolia_99201039_L.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <h4 id="videoHealthGesundheit-heading37" style="color:#FFFFFF;text-align:center;">GESUNDHEIT</h4>
    <div id="videoHealthGesundheit-markdown63" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Dr. Dwight MCKee</strong> beim SPIRIT</p>
    </div>
    <div ng-init="videourl_video82=&quot;https://player.vimeo.com/video/282273255?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video82">
      <iframe src="{{videourl_video82}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown64" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Übersäuerung</strong> Dr. Judith Hamepl</p>
    </div>
    <div ng-init="videourl_video83=&quot;https://player.vimeo.com/video/258757142?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video83">
      <iframe src="{{videourl_video83}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown65" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Gesundheit &amp; Übersäuerung</strong>
      </p>
    </div>
    <div ng-init="videourl_video84=&quot;https://player.vimeo.com/video/285081585?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video84">
      <iframe src="{{videourl_video84}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown66" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Gelenkprobleme &amp; Arthrose</strong>
      </p>
    </div>
    <div ng-init="videourl_video73=&quot;https://player.vimeo.com/video/284941888?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video73">
      <iframe src="{{videourl_video73}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown67" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Entzündungen</strong>
      </p>
    </div>
    <div ng-init="videourl_video86=&quot;https://player.vimeo.com/video/284939724?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video86">
      <iframe src="{{videourl_video86}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown68" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Kopfschmerzen</strong>
      </p>
    </div>
    <div ng-init="videourl_video87=&quot;https://player.vimeo.com/video/284720848?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video87">
      <iframe src="{{videourl_video87}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown69" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Hexenschuss - Rücken</strong>
      </p>
    </div>
    <div ng-init="videourl_video88=&quot;https://player.vimeo.com/video/284720677?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video88">
      <iframe src="{{videourl_video88}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown70" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Rheuma-Fibromyalgie</strong>
      </p>
    </div>
    <div ng-init="videourl_video89=&quot;https://player.vimeo.com/video/284720250?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video89">
      <iframe src="{{videourl_video89}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown71" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Darm</strong> Dr. Judith Hampel</p>
    </div>
    <div ng-init="videourl_video90=&quot;https://player.vimeo.com/video/257692715?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video90">
      <iframe src="{{videourl_video90}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown72" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Der Darm</strong> Nicole Büning</p>
    </div>
    <div ng-init="videourl_video91=&quot;https://player.vimeo.com/video/285089309?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video91">
      <iframe src="{{videourl_video91}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown73" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Hautbild</strong>
      </p>
    </div>
    <div ng-init="videourl_video92=&quot;https://player.vimeo.com/video/285058254?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video92">
      <iframe src="{{videourl_video92}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown74" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Hautprobleme &amp; Lösungen</strong>
      </p>
    </div>
    <div ng-init="videourl_video93=&quot;https://player.vimeo.com/video/285056699?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video93">
      <iframe src="{{videourl_video93}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown75" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Schönheit &amp; Beauty</strong> Dr. Hampel</p>
    </div>
    <div ng-init="videourl_video94=&quot;https://player.vimeo.com/video/282493065?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video94">
      <iframe src="{{videourl_video94}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown76" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Depressionen</strong>
      </p>
    </div>
    <div ng-init="videourl_video95=&quot;https://player.vimeo.com/video/281816938?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video95">
      <iframe src="{{videourl_video95}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="videoHealthGesundheit-markdown77" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>Tabuthemen des Mannes</strong>
      </p>
    </div>
    <div ng-init="videourl_video96=&quot;https://player.vimeo.com/video/281816994?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="videoHealthGesundheit-video96">
      <iframe src="{{videourl_video96}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h2 id="videoHealthGesundheit-heading50" style="color:#FFFFFF;text-align:center;">Empfehlung</h2>
    <div id="videoHealthGesundheit-markdown79" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Schau dir unbedingt in der Kategorie Health/
        <strong>Produkte</strong> das Interview zum Thema
        <strong>Daily</strong> von Jochen Bürgener an!!!! Mega wertvoll!!! </p>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
  </ion-content>
</ion-view>