<ion-view title="Video Workshop" id="page12">
  <ion-content padding="true" style="background: url(img/vfdOACoS3GIvRiyuG4WA_Fotolia_187255098_M-web.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="videoWorkshop-heading29" style="color:#000000;font-style:italic;text-align:center;">Workshop</h1>
    <h4 id="videoWorkshop-heading6" style="color:#000000;font-style:italic;">Christian Klose - Geschichte</h4>
    <div ng-init="videourl_video5=&quot;https://player.vimeo.com/video/282496479?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading55" style="color:#000000;font-style:italic;">Wertvolles Gespräch!</h4>
    <div ng-init="videourl_video138=&quot;https://player.vimeo.com/video/285252618?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video138">
      <iframe src="{{videourl_video138}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading7" style="color:#000000;font-style:italic;">Netti mit Tipps</h4>
    <div ng-init="videourl_video7=&quot;https://player.vimeo.com/video/282504971?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading8" style="color:#000000;font-style:italic;">Christiane Gensel - Kontakten</h4>
    <div ng-init="videourl_video6=&quot;https://player.vimeo.com/video/282658661?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video6">
      <iframe src="{{videourl_video6}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading40" style="color:#000000;font-style:italic;">Aktion 32</h4>
    <div ng-init="videourl_video156=&quot;https://player.vimeo.com/video/285833285?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video156">
      <iframe src="{{videourl_video156}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading59" style="color:#000000;font-style:italic;">Upline vorstellen</h4>
    <div ng-init="videourl_video157=&quot;https://player.vimeo.com/video/285834768?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video157">
      <iframe src="{{videourl_video157}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading60" style="color:#000000;font-style:italic;">Kontaktliste</h4>
    <div ng-init="videourl_video158=&quot;https://player.vimeo.com/video/285831448?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video158">
      <iframe src="{{videourl_video158}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading61" style="color:#000000;font-style:italic;">Zielcollage</h4>
    <div ng-init="videourl_video160=&quot;https://player.vimeo.com/video/285827175?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video160">
      <iframe src="{{videourl_video160}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading62" style="color:#000000;font-style:italic;">Produkt oder Vision</h4>
    <div ng-init="videourl_video159=&quot;https://player.vimeo.com/video/285835510?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video159">
      <iframe src="{{videourl_video159}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading63" style="color:#000000;font-style:italic;">Veranstaltungen</h4>
    <div ng-init="videourl_video161=&quot;https://player.vimeo.com/video/285837609?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video161">
      <iframe src="{{videourl_video161}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading64" style="color:#000000;font-style:italic;">Werde zum Coach !!!</h4>
    <div ng-init="videourl_video155=&quot;https://player.vimeo.com/video/285836505?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video155">
      <iframe src="{{videourl_video155}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading58" style="color:#000000;font-style:italic;">Das WARUM - Christian Bischof</h4>
    <div ng-init="videourl_video64=&quot;https://player.vimeo.com/video/282659296?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video64">
      <iframe src="{{videourl_video64}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading41" style="color:#000000;font-style:italic;">Micha - Erfolgsformel 1/2</h4>
    <div ng-init="videourl_video65=&quot;https://player.vimeo.com/video/282660086?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video65">
      <iframe src="{{videourl_video65}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading42" style="color:#000000;font-style:italic;">Micha - Erfolgsformel 2/2</h4>
    <div ng-init="videourl_video66=&quot;https://player.vimeo.com/video/282660131?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video66">
      <iframe src="{{videourl_video66}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading43" style="color:#000000;font-style:italic;">Geschichte Micha</h4>
    <div ng-init="videourl_video67=&quot;https://player.vimeo.com/video/282659451?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video67">
      <iframe src="{{videourl_video67}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading20" style="color:#000000;font-style:italic;">Wachstum von zu Hause</h4>
    <div ng-init="videourl_video166=&quot;https://player.vimeo.com/video/285966092?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video166">
      <iframe src="{{videourl_video166}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading67" style="color:#000000;font-style:italic;">Wachstumspotential</h4>
    <div ng-init="videourl_video173=&quot;https://player.vimeo.com/video/285977067?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video173">
      <iframe src="{{videourl_video173}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading68" style="color:#000000;font-style:italic;">Literatur zum Start</h4>
    <div ng-init="videourl_video165=&quot;https://player.vimeo.com/video/285966049?rel=0&amp;showinfo=0?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;"
      id="videoWorkshop-video165">
      <iframe src="{{videourl_video165}}" frameborder="0" allowfullscreen="" width="500" height="281" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="videoWorkshop-heading46" style="color:#000000;font-style:italic;text-align:center;">!! ACHTUNG - WICHTIG !!! </h4>
    <h4 id="videoWorkshop-heading51" style="color:#000000;font-style:italic;text-align:center;">Bitte schau dir auch die Interviews von Gabi Steiner hier in der App an!</h4>
  </ion-content>
</ion-view>